<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.2
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Welcome to Shelter for Stray Cats!</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="/static/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/static/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="/static/css/examples.css" rel="stylesheet">
    <style>
      body {
          font-family: 'Georgia', serif;
          font-style: italic;
          background-color: #F8F8F8; 
          color: #6A4C93;
          margin: 0;
          padding: 20px;
      }

      .card {
          background-color: #EDE7F6; 
          border: none;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .card-body h1, .card-body p {
          color: #6A4C93;
      }

      .input-group {
          margin-bottom: 20px; /* Increased spacing */
      }

      .input-group-text {
          background-color: #DCCAE8; 
          border: 1px solid #B5A4C7; 
          color: white;
      }

      .form-control {
          border: 1px solid #B5A4C7; 
          color: #6A4C93; 
      }

      .btn-primary {
          background-color: #6A4C93; 
          border: none;
      }

      .btn-primary:hover {
          background-color: #5D5286; 
      }

      .btn-link {
          color: #6A4C93; 
          text-decoration: underline;
      }

      .btn-link:hover {
          color: #5D5286; 
      }

      #error {
          color: red;
          text-align: center;
      }
  </style>
  </head>
  <body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <div class="card-body">
                  <h1>Reset Password</h1>
                  <p class="text-medium-emphasis">Change your Password</p>
                  {{#if message}}
                    <p id="error">{{message}}</p>
                  {{/if}}

                <form method="POST">
                  <div class="input-group mb-4"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg></span>
                    <input class="form-control" type="password" name="oldpass" placeholder="Old Password">
                  </div>
                  <div class="input-group mb-4"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg></span>
                    <input class="form-control" type="password" name="newpass" placeholder="New Password">
                  </div>
                  <div class="input-group mb-4"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg></span>
                    <input class="form-control" type="password" name="checkpass" placeholder="Confirm Password">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input class="btn btn-primary px-4" type="submit" value="Change Password">
                    </div>
                    <div class="col-6 text-end">
                      <button class="btn btn-link px-0" type="button" onclick=location.href="/{{accType}}/{{user}}">cancel?</button>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/static/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="/static/vendors/simplebar/js/simplebar.min.js"></script>
    <script>
    </script>
  </body>
</html>